<div class="card card-body mb-2">
    <p> <h5>Product:</h5> {{product.name}}</p>
    <p> <h5>Price:</h5> {{product.price}}</p>
    <p> <h5>Manufacturer:</h5> {{product.manufacturer}}</p>
    <p> <h5>Product Code:</h5> {{product.code}}</p>
     
    <a class="btn btn-dark" href="/orders/order/{{product._id}}">Order</a>
  </div>
  